* {
/*	background-color: tomato;*/
	margin: 0;
	font-family: Ubuntu;
}

.heading-text {
	display: inline;
}

.btn {
	cursor: pointer;
	margin: 10px;
}

input {
/*	display: block;*/
	text-align: center;
}
label {
	display: block;
}

#myForm {
	padding: 20px;
	display: inline-block;
	text-align: center;
	border: 2px solid black;
	width: min-content;
	margin: 16px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 6px 7px 0px 0px #2f2e2e;
}